*{
    margin: 0;
}

.alt{
    text-align: center;
    font-size: 50px;
}

.div{
    margin-left: 10%;
}

.span{
    text-decoration: underline;
    font-size: 30px;
}

.vag{
    color: darkred;
    font-size: 30px;
}

p{
    font-size: 30px;
}

ul,li{
    font-size: 30px;
}